$black-text: #000000;
$white-text: #ffffff;
$bg-light: #dae5ee;
$bg-shade-light: #e8eef3;
$bg-dark: #222526;
$bg-shade-dark: #151616;

$primary-color: #a126ff;
$primary-gradient: linear-gradient(90deg, #9100ff, #b95eff);

$heading-family: "Poppins", sans-serif;
$body-family: "Fira Sans", sans-serif;

$bp-phone: 400px;
$bp-tablet: 660px;
$bp-desktop: 992px;
$bp-wide: 1200px;
